{% extends "PharmacieVenteBundle:Achete:index.html.twig" %}
{% block contenu %}
    {% block main %}

         <div class="row">

             <div class="col-md-9">
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                        <img src="{{ asset('bundles/pharmacieaccueil/images/close_green4.png') }}">
                        </a>
                        <center><h5> Associer un client à votre panier </h5></center>
                      </div>
                     <div class="span4">

                        <form  action="{{ path('gestionstock_clientajouter_achete') }}" method="get">
                            <table id="mytable" class="table table-striped table-bordered table-hover table-responsive">
                                <thead class="myheading">
                                    <tr>
                                        <th></th>
                                        <th>Nom</th>
                                        <th>Prénom(s)</th>
                                        <th>N° CNI</th>
                                        <th>Téléphone</th>
                                        <th>Mail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tag in client %}
                                        <tr>
                                            <td style="vertical-align: middle;">
                                                <center>
                                                    <input type="radio" name="clients" value="{{ tag.id }}"/>
                                                </center>
                                            </td>
                                            <td style="vertical-align: middle;">{{ tag.nom }}</td>
                                            <td style="vertical-align: middle;">{{ tag.prenom }}</td>
                                            <td style="vertical-align: middle;">{{ tag.cin }}</td>
                                            <td style="vertical-align: middle;">{{ tag.tel }}</td>
                                            <td style="vertical-align: middle;">{{ tag.mail }}</td>
                                        </tr>
                                     {% endfor %}
                                </tbody>
                            </table>
                            <br><hr class="colorgraph">
                                <button class="btn btn-success pull-right">Valider</button>
                        </form>


                         <div class="btn btn-success">
                            <a href="{{ path('gestionstock_panier_achete') }}">Retour</a>
                         </div>

                     </div>




                 </div>


             </div>

         </div>



    {%endblock%}
{%endblock%}