{% extends "PharmacieVenteBundle:Achete:index.html.twig" %}
{% set total=0 %}
 {% block main %}
         <div class="row">

             <div class="col-md-9">

                 <div class="row carousel-holder">

                     <div class="col-md-12">
                         <form class="form-search pull-right">
                             <input id="Search" name="recherche" type="text" class="input-medium search-query">
                             <button type="submit" class="btn">Rechercher</button>
                         </form>
                     </div>

                 </div>

               <div class="span9">
                   {% for flashMessage in app.session.flashbag.get('succes')%}
                       <div class="alert alert-success"> {{   flashMessage }}</div>
                   {% endfor %}
                   <h2>Votre panier</h2>
                   <form action="">
                       <table class="table table-striped table-hover">
                           <thead>
                                 <tr>
                                     <th>Réference</th>
                                     <th>Quantite</th>
                                     <th>Prix unitaire</th>
                                     <th>Prix ht</th>
                                 </tr>
                           </thead>
                           <tbody>
                           {% if produits | length==0 %}
                               <tr>
                                <td colspan="4"><center>Aucun produits dans votre panier</center></td>
                               </tr>
                             {% endif %}
                           {% for p in produits %}
                               <form action="{{ path('gestionstock_panier_achete',{'id':p.id}) }}" method="get">
                                   <tr>
                                       <td>{{ p.libelle }}</td>
                                       <td>{{ panier[p.id] }}&nbsp;&nbsp;&nbsp;
                                          <a href="{{ path('gestionstock_paier_supprimer',{'id':p.id}) }}"><i class="glyphicon glyphicon-trash"></i></a>
                                       </td>
                                       <td>{{ p.prixUnitaire }}Frf</td>

                                       <td>{{ p.prixUnitaire*panier[p.id] }}Frf</td>
                                   </tr>
                               </form>
                               {% set total=total + ( p.prixUnitaire*panier[p.id]) %}
                                   {% endfor %}
                           </tbody>

                       </table>

                   </form>
                {% if produits | length!=0 %}
                 <dl class="dl-horizontal pull-right">
                     <dt><h4>Total</h4></dt>
                     <dd><h4>{{ total }} FCFA</h4></dd>
                 </dl>
                 <div class="clear-fix"></div>

                 {% if client | length!=0 %}
                 <a href="{{ path('gestionstock_validerpanier_achete')}}" class="btn btn-default pull-right">Facturer le client</a>
                 {% else %}
                 <a href="{{ path('gestionstock_valider_achete')}}" class="btn btn-default pull-right">Valider le panier</a>
                     <a href="{{ path('gestionstock_client_achete')}}" class="btn btn-default pull-right">Ajouter un client</a>
                 {% endif %}
                 {% endif %}
                 <a href="{{ path('gestionstock_ajouter_achete')}}" class="btn btn-success">continuer mes achats</a>

                {% if client | length!=0 %}
                    <div class="span3" >
                        <div><h4>Client</h4></div>
                        <li>{{ client.nom }} </li>
                        <li>{{ client.prenom }} </li>
                        <li>{{ client.tel }} </li>
                    </div>
                {% endif %}
             </div>

         </div>



 {%endblock%}