{% extends "GestionVenteBundle::template.html.twig" %}

 {% block contenu %}
     <div class="container">

         <div class="row">

             <div class="col-md-3">
                 <p class="lead">Gestion des ventes</p>
                 <div class="list-group well">
                     <a href="#" class="list-group-item">médicament générique </a>
                     <a href="#" class="list-group-item">médicament biosimilaire </a>
                     <a href="#" class="list-group-item">médicament orphelin </a>
                 </div>
             </div>

             <div class="col-md-9">


                 <div class="row carousel-holder">

                     <div class="col-md-12">

                         <form class="form-search pull-right">
                             <input id="Search" name="recherche" type="text" class="input-medium search-query">
                             <button type="submit" class="btn">Rechercher</button>
                         </form>
                     </div>

                 </div>

                 <div class="row">
                     <div class="span5" ><img src="{{ asset('img/b.png') }}" alt="DevAndClick" width="200" height="200"></div>
                     <div class="span4">
                         <h4><a href="#">{{ produits.libelle}}</a></h4>
                         <h4>{{ produits.prixUnitaire}}Fcf</h4>
                         {% if stock.quantite >0 %}
                         <p><h4>Quantite en stock: {{ stock.quantite }}</h4></p>
                          {% else %}
                              <h4>Quantite en stock: vide </h4>
                          {% endif %}
                         <p>Un médicament est toute substance ou composition présentée comme possédant
                             des propriétés curatives ou préventives à l'égard des maladies humaines ou animales.</p>
                        {% if stock.quantite >0 %}
                         <form action="{{ path('gestionstock_panierajouter_achete',{'id':produits.id}) }}" method="get">

                             <select class="span1" name="quantite">
                                 {% for i in 1..10 %}
                                     <option value="{{ i }}">{{ i }}</option>
                                 {% endfor %}
                             </select>
                             <br/>
                             <br/>

                             <div>
                                 <button class="btn btn-success pull-right">Ajouter au panier</button>

                             </div>
                         </form>
                          {% else %}
                            <div class="btn btn-success">
                                <a href="{{ path('gestionstock_ajouter_achete') }}">Retour</a>
                            </div>
                          {% endif %}
                     </div>




                 </div>


             </div>

         </div>

     </div>
     <!-- /.container -->


 {%endblock%}