{% extends "PharmacieVenteBundle:Achete:index.html.twig" %}
{% set total=0 %}
{% block contenu %}
 {% block main %}
     <div class="container">
         <div class="row">
             <div class="col-md-9 col-md-offset-1">
                 <div class="row">
                     <div class="span9">
                         <form action="{{ path('gestionstock_modifier_achete',{'id':produits.id}) }}" method="get">
                           <table class="table montable-bordered table-hover table-responsive" style="border: 1px solid #424242;">
                               <thead class="monentete2">
                               <th>Libellé</th>
                               <th>Quantité en stock</th>
                               <th>Prix Unitaire</th>
                               <th>Quantite</th>
                               <th></th>
                               </thead>
                               <tbody>
                                  <tr>
                                      <td style="vertical-align: middle;">{{ produits.libelle}}</td>
                                      <td style="vertical-align: middle;"> {{ stock.quantite }}</td>
                                      <td style="vertical-align: middle;">{{ produits.prixUnitaire}}</td>
                                      <td style="vertical-align: middle;">
                                        <center>  
                                          <input class="form-control input-sm" type="number" value="1" name="quantite" min="1" max={{ stock.quantite }}></input>
                                        </center>
                                      </td>
                                      <td style="vertical-align: middle;"><button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-ok"></span> </button></td>
                                  </tr>
                               </tbody>
                           </table>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- /.container -->
 {%endblock%}
{% endblock %}