{% extends "PharmacieVenteBundle:Achete:index.html.twig" %}
{% set total=0 %}
 {% block main %}
         <div class="row">

             <!-- Modal -->
             <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                     <div class="modal-content">
                         <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                             </button>
                             <h4 class="modal-title" id="myModalLabel">Modier la quantité </h4>
                         </div>
                         <div class="modal-body">
                             <div class="form-group">
                                 <label for="Login" class="col-lg-3 control-label">Quantité</label>
                                 <select class="span1" name="quantite">
                                     {% for i in 1..10 %}
                                         <option value="{{ i }}">{{ i }}</option>
                                     {% endfor %}
                                 </select>
                              </div>

                         </div>
                         <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                             <button type="button" class="btn btn-primary">Enregister </button>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-9">
               <div class="span9">
                    <center><h5 class="alert alert-success">Espace de vente sécurisé : valider votre panier pour comptabiliser la vente</h5></center>
                   {% for flashMessage in app.session.flashbag.get('succes')%}
                       <div class="alert alert-success"> {{   flashMessage }}</div>
                   {% endfor %}
                   <form action="">
                       <table class="table table-striped table-hover">
                           <thead>
                                 <tr>
                                     <th>Réference</th>
                                     <th>Quantite</th>
                                     <th>Prix unitaire</th>
                                     <th>Prix ht</th>
                                     <th>Actions</th>
                                 </tr>
                           </thead>
                           <tbody>
                           {% if produits | length==0 %}
                               <tr>
                                <td colspan="4"><center>Aucun produits dans votre panier</center></td>
                               </tr>
                             {% endif %}
                           {% for p in produits %}
                               <form action="{{ path('gestionstock_panier_achete',{'id':p.id}) }}" method="get">
                                   <tr>
                                       <td>{{ p.libelle }}</td>
                                       <td>{{ panier[p.id] }} </td>
                                       <td>{{ p.prixUnitaire }} FCFA</td>
                                       <td>{{ p.prixUnitaire*panier[p.id] }} FCFA</td>
                                       <td> <a href="{{ path('gestionstock_paier_supprimer',{'id':p.id}) }}"><i class="glyphicon glyphicon-trash"></i></a>
                                       <a href="{{ path('gestionstock_affiche_achete',{'id':p.id}) }}"  ><i class="glyphicon glyphicon-edit"></i></a></td>

                                   </tr>
                               </form>
                               {% set total=total + ( p.prixUnitaire*panier[p.id]) %}
                                   {% endfor %}
                           </tbody>

                       </table>

                   </form> <br><br>
                {% if produits | length!=0 %}
                 <dl class="dl-horizontal pull-right">
                     <dt><h4>Total</h4></dt>
                     <dd><h4>{{ total }} FCFA</h4></dd>
                 </dl>
                 <div class="clear-fix"></div>

                 {% if client | length!=0 %}
                 <a href="{{ path('gestionstock_validerpanier_achete')}}" class="btn btn-default pull-right">Facturer le client</a>
                 {% else %}
                 <a href="{{ path('gestionstock_valider_achete')}}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-ok"></span> Valider le panier</a>
                     <a href="{{ path('gestionstock_client_achete')}}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-user"></span> Ajouter un client</a>
                 {% endif %}
                 {% endif %}
                 <a href="{{ path('gestionstock_ajouter_achete')}}" class="btn btn-success">Espace vente</a>

                {% if client | length!=0 %}
                    <div class="span3" >
                        <div><h4>Client</h4></div>
                        <li>{{ client.nom }} </li>
                        <li>{{ client.prenom }} </li>
                        <li>{{ client.tel }} </li>
                    </div>
                {% endif %}
             </div>

         </div>
 {%endblock%}