{% extends "PharmacieVenteBundle:Achete:index.html.twig" %}
{% set total=0 %}
 {% block main %}
     <div class="container">
         <div class="row">
             <div class="col-md-9">
                 <div class="row">
                     <div class="span4">
                         <form action="{{ path('gestionstock_modifier_achete',{'id':produits.id}) }}" method="get">
                           <table class="table table-bordered ">
                               <thead>
                               <th>Libellé</th>
                               <th>Quantité en stock</th>
                               <th>Prix Unitaire</th>
                               <th>Quantite</th>
                               <th></th>
                               </thead>
                               <tbody>
                                  <tr>
                                      <td>{{ produits.libelle}}</td>
                                      <td> {{ stock.quantite }}</td>
                                      <td>{{ produits.prixUnitaire}}</td>
                                      <td>
                                          <select class="span1" name="quantite">
                                              {% for i in 1..10 %}
                                                  <option value="{{ i }}">{{ i }}</option>
                                              {% endfor %}
                                          </select>
                                      </td>
                                      <td><button class="btn btn-success pull-right" class="glyphicon glyphicon-ok"> </button></td>
                                  </tr>
                               </tbody>
                           </table>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- /.container -->
 {%endblock%}