<!DOCTYPE html>
<html>
    <head>
        <title>Progestix</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- Encodage en utf-8, en HTML 5 -->
        <meta charset="utf-8" />

        <!-- Inclusion des fichiers de styles -->
        
        <link rel="icon" href="asset('bundles/pharmacieaccueil/images/favicon.ico')" />
        
        <link rel="stylesheet" type="text/css" href = "{{ app.request.schemeAndHttpHost ~ asset('bundles/pharmacieaccueil/css/style.css') }}"/>

        <link rel="stylesheet" type="text/css" href = "{{ app.request.schemeAndHttpHost ~ asset('bundles/pharmacieaccueil/bower_components/bootstrap/dist/css/bootstrap.min.css') }}"/>

        <link rel="stylesheet" type="text/css" href = "{{ app.request.schemeAndHttpHost ~ asset('bundles/pharmacieaccueil/bower_components/datatables/media/css/jquery.dataTables.css') }}"/>

        <link type="text/css" rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/pharmaciestock/bower_components/select2/dist/css/select2.css') }}">
        
    
    <body id="coprsTemplate">
        <div >
            <!-- bloc conteneur de la page  -->
            <div id="container" class="container container-fluid">
                {% block corps %}
                    {% block menuHaut %}
                        <nav class="navbar navbar-fixed-top" style="background-color: #006400" role="navigation">
                            {% block titre %}

                            {% endblock %}
                            <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#">
                                        {% block entete%}<img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/pharmacieaccueil/images/logo.jpg') }}" id="logo">{% endblock %}
                                    </a>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right menu-haut">
                                        <li>
                                            <a href="#"><span class="glyphicon glyphicon-home"></span> Accueil</a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="glyphicon glyphicon-wrench"></span> Administration</a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="glyphicon glyphicon-globe"></span> Site web</a>
                                        </li>
                                        {% block logout %}
                                
                                        {% endblock %}
                                    </ul>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>
                            <!-- /.container -->
                        </nav>    
                    {% endblock %}
                    
                </div>

                <div class="row" style="margin-top: 50px;">
                    
                    {% block menuLeft %}

                    {% endblock %}            
                
                    {% block contenu %}

                    {% endblock %}
                </div>
            {% endblock %}
        </div>            
    </body>
    <script type="text/javascript" src=" {{ app.request.schemeAndHttpHost ~ asset('bundles/pharmacieaccueil/bower_components/jquery/jquery.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~ asset('bundles/pharmacieaccueil/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~ asset('bundles/pharmacieaccueil/bower_components/datatables/media/js/jquery.dataTables.js')}}"></script>

    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~ asset('bundles/pharmaciestock/bower_components/select2/dist/js/select2.min.js') }}"></script>
  
    
    <script>
        $(document).ready(function(){
                    $('.dropdown-toggle').dropdown();
                    $('#mytable').DataTable();
                });    
    </script>
    <script>
            $(function() {
                    $('a[data-confirm]').click(function(ev) {
                    var href = $(this).attr('href');
                    if (!$('#dataConfirmModal').length) {
                        $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel" style="text-align: center; color: white; background-color: #83b719; padding: 5px">Confirmation de l\'opération en cours</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Non</button><a class="btn btn-success" id="dataConfirmOK">Oui</a></div></div></div></div>');
                    }
                    $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
                    $('#dataConfirmOK').attr('href', href);
                    $('#dataConfirmModal').modal({show:true});
                     return false;
                });
            });
    </script>

    <script type="text/javascript">
        
        $(document).ready(function() {
           // $('#keywords').style.display = 'none';
                //console.log(window.location.pathname.split("/"));
                var pathname = window.location.pathname.split("/");
               

                    if( pathname[pathname.length-2]=="stock" && pathname[pathname.length-1]=="ajouter"){
                        ajouter_keyword();
                        //ajouter_champ_produit();
                    }
                    else if( pathname[pathname.length-2]=="produit" && pathname[pathname.length-1]=="ajouter"){
                        //ajouter_champ_produit();
                        $("#libelle").select2({
                            placeholder: "nom du produit",
                            allowClear: true
                        });
                    }
                    
                });



        function ajouter_keyword(){
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('#keywords_div');
            //
             //console.log($('#keywords'));
            console.log("ajoute de keyword");

            
            if($container){
                //$container.append($addLink);

                // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
                var index = $container.find(':input').length //$container.length; //

                // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
                if (index == 0) {
                  addCategory($container);
                } else {
                  // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                  $container.children('div').each(function() {
                    addDeleteLink($(this));
                  });
                }

                // on ajoute l'évènement associé au click du bouton ajoute keyword 
                var $addLink = $('#ajout_keyword');//$('<a href="#" id="ajout_keyword" class="btn btn-default">Ajouter une clé</a>');
                $addLink.click(function(e) {
                    console.log(index);
                  addCategory($container);
                  e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                  return false;
                });

                // La fonction qui ajoute un formulaire Categorie
                function addCategory($container) {
                  // Dans le contenu de l'attribut « data-prototype », on remplace :
                  // - le texte "__name__label__" qu'il contient par le label du champ
                  // - le texte "__name__" qu'il contient par le numéro du champ
                  var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, '')
                                                                        .replace(/__name__/g, index));

                  // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                  if(index != 0){
                        addDeleteLink($prototype);
                        
                    }else{
                        $prototype.append('<div class="col-sm-2">\
                            <a href="" id="ajout_keyword"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></a>\
                        </div>');
                    }

                  // On ajoute le prototype modifié à la fin de la balise <div>
                  $container.append($prototype);

                  // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                  index++;
                }

                // La fonction qui ajoute un lien de suppression d'une catégorie
                function addDeleteLink($prototype) {
                  // Création du lien
                  $deleteLink = $('<div class="col-sm-2">\
                            <a href="" id=""><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-minus"></span></button></a>\
                        </div>');

                  // Ajout du lien
                  $prototype.append($deleteLink);

                  // Ajout du listener sur le clic du lien
                  $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                  });
                }
            }
        }

        function ajouter_champ_produit(){
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('#champs_div');
            console.log("ajoute de champ dynamique au produit");

                var index_i = $container.find(':input').length //$container.length; //

                // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
                if (index_i == 0) {
                  addChamp($container);
                } else {
                  // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                  $container.children('div').each(function() {
                    addDeleteLink($(this));
                  });
                }

                // on ajoute l'évènement associé au click du bouton ajoute keyword 
                var $addLink = $('#ajout_champ');//$('<a href="#" id="ajout_keyword" class="btn btn-default">Ajouter une clé</a>');
                $addLink.click(function(e) {
                    console.log(index_i);
                  addCategory($container);
                  e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                  return false;
                });

                function addChamp($container) {
                  var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'i'+index_i)
                                                                        .replace(/__name__/g, index_i));

                  // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                  if(index_i != 0){
                        addDeleteLink($prototype);
                        
                    }else{
                        $prototype.append('<div class="col-sm-2">\
                            <a href="" id="ajout_champ"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></a>\
                        </div>');
                    }

                  // On ajoute le prototype modifié à la fin de la balise <div>
                  $container.append($prototype);

                  // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                  index_i++;
                }

                // La fonction qui ajoute un lien de suppression d'une catégorie
                function addDeleteLink($prototype) {
                  // Création du lien
                  $deleteLink = $('<div class="col-sm-2">\
                            <a href="" id=""><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-minus"></span></button></a>\
                        </div>');

                  // Ajout du lien
                  $prototype.append($deleteLink);

                  // Ajout du listener sur le clic du lien
                  $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                  });
                }
            
        }

    </script>


</html>

