{% extends "::base.html.twig" %}

{%block tilte%}
	{{ parent() }}
{%endblock%}

{% block body %}

{{parent()}}

	<h1><center>Liste des categories </center></h1>
	<br/><br/>
	<div class="well">
		{% for categorie in categories %}
		
					{{categorie.libelle}}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="{{ path('gestion_stock_categorie_modifier', { 'id': categorie.id }) }}">Modifier</a>
				<a href="{{ path('gestion_stock_categorie_supprimer', { 'id': categorie.id }) }}">Supprimer</a>
				<a href="{{ path('gestion_stock_categorie_produit', { 'id': categorie.id }) }}">Produit</a>
			<hr/>
		{% endfor%}	
	</div>
	

{% endblock %}
