{% extends "PharmacieStockBundle:Categorie:index.html.twig" %}
{% block main %}

    <center><h5 class="alert alert-success">Rubrique Gestion des catégories de médicaments : Afin de mieux organiser vos produits, vous pouvez créer des catégories</h5></center>
    <hr class="colorgraph">
    <div class="row">
    <div class="col-md-9" >
    	{% block table %}
    	<center><h4 class="panel-heading alert-danger">Listes des catégories existantes</h4></center>
            <hr class="colorgraph">
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered">
                <thead>
                    <th>ID</th>
                    <th>Libellé</th>
                    <th>Description</th>
                    <th>Fonctions</th>
                </thead>
                <tbody>
                    {% for tag in categories %}
                         <tr>
                            <td>{{ tag.id}}</td>
                            <td>{{ tag.libelle}}</td>
                            <td>{{ tag.description}}</td>
                            <td>
                            	<a href="{{ path('gestion_stock_categorie_modifier', { 'id': tag.id }) }}"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span></button></a>

                                <a href="{{ path('gestion_stock_produit_afficher', { 'id': tag.id }) }}"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></a>

                            	<a href="{{ path('gestion_stock_categorie_supprimer', { 'id': tag.id }) }}" data-confirm="Vous êtes sur le point de supprimer la catégorie {{tag.libelle}}. Etes-vous sûr de bien vouloir effectué cette opération ?"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}
        </div>
        <div class="col-md-3">
            <center><h5 class="panel-heading myheading">Actions à effectuer</h5></center>
            <hr class="colorgraph">
                <button class="btn-success btn-block sous-menu-item"><a href="{{ path('gestion_stock_categorie_ajouter')}}" class=""><span class="glyphicon glyphicon-tags"></span> Ajout Nouvelle catégorie</a></button>
                </br>
                 <button type="button" class="btn-info btn-block sous-menu-item"><a href="{{ path('gestion_stock_produit_statistiques')}}"><span class="glyphicon glyphicon-stats"></span> Statistiques</a></button>
               </br>
                <button type="button" class="btn-danger btn-block sous-menu-item"><a href="{{ path('gestion_stock_categorie_lister')}}"><span class="glyphicon glyphicon-list"></span> Liste des catégories</a></button>
                
            </ul>
        </div>
        </div>
    </div>
    <br/><br/><br/>
 	
{% endblock %}
