{% extends "GestionInventaireBundle::template.html.twig" %}
{% block contenu %}
	 <div class="col-md-12" >
    <a href="{{ path('gestion_inventaire_homepage')}}"><button class="btn btn-info btn-lg"><span class="glyphicon glyphicon-plus"></span> ajouter</button></a>
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered">
                <thead>
                    <th>Effectué le</th>
                    <th colspan="2">période </th>
                    <th>Type d'inentaire</th>
                    <th colspan="2">Actions</th>
                </thead>
                <tbody>
                    {% for tag in types %}
                        {% if tag.rapport != null %}
                         <tr>
                            <td>{{ tag.dateInventaire|date('Y-m-d h:s') }}</td>
                            <td>{{ tag.dateDebut|date('Y-m-d') }}</td>
                             <td>{{ tag.dateFin|date('Y-m-d') }}</td>
                             <td>{{ tag.typeInventaire }}</td>
                             <td>
                                 <a href="{{ path('generer_pdf_inventaire', {'filename': tag.rapport}) }}"><button class="btn btn-info"><span class="glyphicon glyphicon-download"> télécharger Rapport</span></button></a>
                             </td>
                             <td>
                             <a href="{{ path('gestion_inventaire_supprimer_type', {'id': tag.id}) }}"><button class="btn btn-warning"><span class="glyphicon glyphicon-trash"> Supprimer</span></button></a>
                             </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock%}