{% extends "GestionInventaireBundle::template.html.twig" %}
{% block contenu %}
	 <div class="col-md-12" >
    <a href="{{ path('gestion_inventaire_ajouter_type')}}"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span> ajouter</button></a>
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered">
                <thead>
                    <th>Libellé</th>
                    <th>Description</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for tag in types %}
                         <tr>
                            <td>{{ tag.libelle}}</td>
                            <td>{{ tag.description }}</td>

                             <td>
                             <a href="{{ path('gestion_inventaire_modifier_type', {'id': tag.id}) }}"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span></button></a>
                             <a href="{{ path('gestion_inventaire_supprimer_type', {'id': tag.id}) }}"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-trash"></span></button></a>
                             </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock%}