{% extends "PharmacieStockBundle:Stock:lister.html.twig" %}
{% block table %}
  <center><h4 class="panel-heading alert-danger">Détails sur le stock du produit : {{ stock.libelle }}</h4></center>
  <hr class="colorgraph">
  <div class="row">
    <div class="col-md-8" >
      <ul class="list-group">
      	  <li class="list-group-item"><u>N° article</u> : {{ stock.id }}</li>
      	  <li class="list-group-item"><u>Libellé</u> : {{ stock.libelle }}</li>
          <li class="list-group-item"><u>Reference</u> : {{ stock.reference }} </li>
          <li class="list-group-item"><u>Catégorie</u> : {{ stock.categorie }}</li>
          <li class="list-group-item"><u>Quantité</u> : {{ stock.quantite }} </li>
          <li class="list-group-item"><u>Seuil minimum</u>: {{ stock.seuilMin }}</li>
          <li class="list-group-item"><u>Description</u>: {{ stock.description }}</li>
          <li class="list-group-item"><u>Posologie</u> : {{ stock.posologie }} </li>

          {% if stock.keywords|length != 0 %}
              {% set keyword = '' %}

                {% for cle, valeur in stock.keywords %}
                  {% if cle==0 %}
                    {% set keyword = valeur.valeur %}
                  {% else %}
                    {% set keyword = keyword ~ ", " ~ valeur.valeur %}
                  {% endif %}
              {% endfor %}

              <li class="list-group-item"><u>Mots clés</u> : {{ keyword }} </li>
          {% else %}
              <li class="list-group-item"><u>Mots clés</u> :  Pas de mots clés... </li>
          {% endif %}

          {% if stock.champs|length != 0 %}

              {% for cle, valeur in stock.champs %}
                  <li class="list-group-item"><u>{{ valeur.nom }}</u> : {{ valeur.valeur }} </li>
              {% endfor %}

          {% endif %}

          
      </ul>
    </div>
    <div class="col-sm-4 col-md-4">
      {% if stock.imageName is empty %}
        Pas d'image
      {% else %}
        <img src="{{ asset(vich_uploader_asset(stock, 'imageFile')) }} " alt="{{ stock.imageName }}" class="img-responsive" style="padding:10px;"/>
      {% endif %}
    </div>
  </div>
{% endblock%}

{% block reste %}{% endblock %}