{% extends "PharmacieStockBundle:Stock:lister.html.twig" %}

	 {% block table %}
	 <div id="div_stock_ajout">
		 <div class="">
	        <center><h4 class="panel-heading alert-danger">Valider un nouveau stock de produit </h4></center>
			{{ form_start(formulaire, {'attr': {'class': 'form-horizontal'}}) }}
			{{ form_errors(formulaire) }}


			<div class="form-group">
			    {# Génération du label. #}
			    {{ form_label(formulaire.reference, "Référence", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

			    {# Affichage des erreurs pour ce champ précis. #}
			    {{ form_errors(formulaire.reference) }}

			    <div class="col-sm-4">
			        {# Génération de l'input. #}
			        {{ form_widget(formulaire.reference, {'attr': {'class': 'form-control'}}) }}
			    </div>


				
			</div>

			<div class="form-group">
			    {# Génération du label. #}
			    {{ form_label(formulaire.libelle, "Libellé", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

			    {# Affichage des erreurs pour ce champ précis. #}
			    {{ form_errors(formulaire.libelle) }}

			    <div class="col-sm-4">
			        {# Génération de l'input. #}
			        {{ form_widget(formulaire.libelle, {'attr': {'class': 'form-control'}}) }}
			    </div>
			</div>

			<div class="form-group">
			    {# Génération du label. #}
			    {{ form_label(formulaire.categorie, "Catégorie", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

			    {# Affichage des erreurs pour ce champ précis. #}
			    {{ form_errors(formulaire.categorie) }}

			    <div class="col-sm-4">
			        {# Génération de l'input. #}
			        {{ form_widget(formulaire.categorie, {'attr': {'class': 'form-control'}}) }}
			    </div>
			</div>


			<div class="form-group">
			    {# Génération du label. #}
			    {{ form_label(formulaire.seuilMin, "Seuil Minimum ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

			    {# Affichage des erreurs pour ce champ précis. #}
			    {{ form_errors(formulaire.seuilMin) }}

			    <div class="col-sm-4">
			        {# Génération de l'input. #}
			        {{ form_widget(formulaire.seuilMin, {'attr': {'class': 'form-control'}}) }}
			    </div>
			</div>
			

			<div class="form-group">
			    {# Génération du label. #}
			    {{ form_label(formulaire.description, "Description", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

			    {# Affichage des erreurs pour ce champ précis. #}
			    {{ form_errors(formulaire.description) }}

			    <div class="col-sm-4">
			        {# Génération de l'input. #}
			        {{ form_widget(formulaire.description, {'attr': {'class': 'form-control'}}) }}
			    </div>
			</div>

			<div class="form-group">
			    {# Génération du label. #}
			    {{ form_label(formulaire.posologie, "Posologie", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

			    {# Affichage des erreurs pour ce champ précis. #}
			    {{ form_errors(formulaire.posologie) }}

			    <div class="col-sm-4">
			        {# Génération de l'input. #}
			        {{ form_widget(formulaire.posologie, {'attr': {'class': 'form-control'}}) }}
			    </div>
			</div>

			<div class="form-group">
                {{ form_label(formulaire.imageFile, "Image", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(formulaire.imageFile) }}
                <div class="col-sm-4">
                    {{ form_widget(formulaire.imageFile, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>


            <div class="form-group">
            	<label class="col-sm-4 control-label">Mots Clés:</label>
			    <div class="col-sm-4">
			        <input type="text" class="form-control" />
			        <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
			    </div>
			</div>

			<div class="form-group">
            	<label class="col-sm-4 control-label">Nouveaux champs</label>
				<button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
			 
			<div class="form-group">
				<div class="col-sm-2">\
	                <a href=""><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus">Nouveaux champs</span></button></a>\
	            </div>
			</div>


			<div id="keywords_div" data-prototype="
				{% filter escape %}
		        <div class='form-group'>
				
					{{ form_label(formulaire.keywords.vars.prototype.valeur|e, 'Mot clé', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
					{{ form_errors(formulaire.keywords.vars.prototype.valeur|e) }}
					<div class='col-sm-4'>
						{{ form_widget(formulaire.keywords.vars.prototype.valeur|e, {'attr': {'class': 'form-control'}}) }}
					</div>

				</div> 
		    	{% endfilter %}">
			</div>

			
			<div id="reste_stock">
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#champsmodal"><span class="glyphicon glyphicon-plus"></span>
				  	Ajouter d'autres champs
				</button>
			</div>
			

			<!-- Modal -->
			<div class="modal fade" id="champsmodal" tabindex="-1" role="dialog" aria-labelledby="champsmodalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="champsmodalLabel">Ajout de nouveaux champs</h4>
			      </div>
			      <div class="modal-body">
			        	<div id="champs_div" data-prototype="
						{% filter escape %}
				        <div class='form-group'>
						
							{{ form_label(formulaire.champs.vars.prototype.nom|e, 'Nom', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
							{{ form_errors(formulaire.champs.vars.prototype.nom|e) }}
							<div class='col-sm-4'>
								{{ form_widget(formulaire.champs.vars.prototype.nom|e, {'attr': {'class': 'form-control'}}) }}
							</div>

							{{ form_label(formulaire.champs.vars.prototype.valeur|e, 'Valeur', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
							{{ form_errors(formulaire.champs.vars.prototype.valeur|e) }}
							<div class='col-sm-4'>
								{{ form_widget(formulaire.champs.vars.prototype.valeur|e, {'attr': {'class': 'form-control'}}) }}
							</div>

						</div> 
				    	{% endfilter %}">
					</div>
			      </div>
			      <div class="modal-footer">


			        <span style="margin-left:30%">{{ form_widget(formulaire.Valider, {'attr': {'class': 'btn btn-primary'}}) }}</span>

	        		<span style="margin-left:25%">{{ form_widget(formulaire.Annuler, {'attr': {'class': 'btn btn-default', 'data-dismiss':'modal'}}) }}</span>

			      </div>
			    </div>
			  </div>
			</div>


				</br>

			{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
	        <span style="margin-left:30%">{{ form_widget(formulaire.Valider, {'attr': {'class': 'btn btn-primary'}}) }}</span>

	        <span style="margin-left:25%">{{ form_widget(formulaire.Annuler, {'attr': {'class': 'btn btn-warning'}}) }}</span>

			{{ form_widget(formulaire) }}
			 {{ form_end(formulaire) }}	
			 


			 </div>
		 </div>



	{%endblock%}

	{% block reste %}{% endblock %}


{#<div class="form-group">
		    <label class="col-sm-6 control-label">Ajouter des mots clés</label>
		    <div class="col-sm-2">
    			<a href="" id="ajout_keyword"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></a>
    		</div>
		</div>#}

		{#{% set prototype_keywords = formulaire.keywords.vars.prototype %}
		<div id="prototype-keywords" class="prototype-keywords">
			<div class="form-group">
				
					{{ form_label(prototype_keywords.valeur, "Mot clé", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
					{{ form_errors(prototype_keywords.valeur) }}
					<div class="col-sm-4">
						{{ form_widget(prototype_keywords.valeur, {'attr': {'class': 'form-control'}}) }}
					</div>
					
				

			</div>
		</div>
		#}

		{#<div id="keywords" data-prototype="
		         {% filter escape %}
		             {{ include('PharmacieStockBundle:Keyword:ajouter.html.twig', { 'formulaire': formulaire.keywords.vars.prototype }) }}
		         {% endfilter %}">
		</div> #}