{% extends "PharmacieStockBundle:Produit:index.html.twig" %}
{% block main %}
    <center><h5 class="alert alert-success">Rubrique Gestion du stock de médicaments : Enregistrez votre stock</h5></center>
    <hr class="colorgraph">
    <div class="row">
       <div class="col-md-9" >
        {% block table %}
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered ">
                <thead>
                    <th>Réference</th>
                    <th>Libellé Produit</th>
                    <th>Quantité</th>
                    <th>Catégorie</th>
                    <th>Description</th>
                    <th>Fonctions</th>
                </thead>
                <tbody>
                    {% for tag in stocks %}
                         <tr>
                            <td>{{ tag.reference }}</td>
                            <td>{{ tag.libelle }}</td>
                            <td>{{ tag.quantite }}</td>
                            <td>{{ tag.categorie }}</td>
                            <td>{{ tag.description }}</td>
                            <td>
                            <a href="{{ path('gestion_stockage_afficher_stock', {'id': tag.id }) }}"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-list"></span></button></a>
                            <a href="{{ path('gestion_stockage_modifier_stock', {'id': tag.id }) }}"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span></button></a>
                            <a href="{{ path('gestion_stockage_supprimer_stock', {'id': tag.id }) }}" data-confirm="Vous êtes sur le point de supprimer le médicament {{tag.libelle }} du stock. Etes-vous sûr de bien vouloir effectué cette opération ?"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></a>
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock%}
        </div>
        <div class="col-md-3">
            <center><h5 class="panel-heading myheading">Actions à effectuer</h5></center>
            <hr class="colorgraph">
                <button class="btn-success btn-block sous-menu-item"><a href="{{ path('gestion_stockage_ajouter_stock')}}" class=""><span class="glyphicon glyphicon-tags"></span> Ajout Stock</a></button>
                </br>
                <button class="btn-success btn-block sous-menu-item"><span class="glyphicon glyphicon-stats"></span> Statistiques</button>
                </br>
                <button type="button" class="btn-success btn-block sous-menu-item"><a href="{{ path('gestion_stockage_lister_stock')}}"><span class="glyphicon glyphicon-list"></span> Liste stock</a></button>
                
        </div>
    </div>

    {% block reste %}
    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('gestion_stock_ajouter_produit')}}"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-plus"></span> Ajouter article</button></a>
        </div>
    </div>
    <br/><br/><br/>
    {% endblock %}
{% endblock%}