{% extends "PharmacieStockBundle:Stock:lister.html.twig" %}
	 {% block table %}
	 <div class="">
        <center><h4 class="panel-heading alert-danger">Mise à jour du stock du produit</h4></center>

		{{ form_start(formulaire, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(formulaire) }}
		
		<div class="form-group">
		    {# Génération du label. #}
		    {{ form_label(formulaire.reference, "Réference du produit", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		    {# Affichage des erreurs pour ce champ précis. #}
		    {{ form_errors(formulaire.reference) }}

		    <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(formulaire.reference, {'attr': {'class': 'form-control'}}) }}
		    </div>
		</div>

		<div class="form-group">
		    {# Génération du label. #}
		    {{ form_label(formulaire.libelle, "Libelle du produit : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		    {# Affichage des erreurs pour ce champ précis. #}
		    {{ form_errors(formulaire.libelle) }}

		    <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(formulaire.libelle, {'attr': {'class': 'form-control'}}) }}
		    </div>
		</div>

		<div class="form-group">
		    {# Génération du label. #}
		    {{ form_label(formulaire.categorie, "Categorie du produit", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		    {# Affichage des erreurs pour ce champ précis. #}
		    {{ form_errors(formulaire.categorie) }}

		    <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(formulaire.categorie, {'attr': {'class': 'form-control'}}) }}
		    </div>
		</div>


		<div class="form-group">
		    {# Génération du label. #}
		    {{ form_label(formulaire.seuilMin, "Seuil Minimum ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		    {# Affichage des erreurs pour ce champ précis. #}
		    {{ form_errors(formulaire.seuilMin) }}

		    <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(formulaire.seuilMin, {'attr': {'class': 'form-control'}}) }}
		    </div>
		</div>
		

		<div class="form-group">
		    {# Génération du label. #}
		    {{ form_label(formulaire.description, "Description", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		    {# Affichage des erreurs pour ce champ précis. #}
		    {{ form_errors(formulaire.description) }}

		    <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(formulaire.description, {'attr': {'class': 'form-control'}}) }}
		    </div>
		</div>

		<div class="form-group">
		    {# Génération du label. #}
		    {{ form_label(formulaire.posologie, "Posologie", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		    {# Affichage des erreurs pour ce champ précis. #}
		    {{ form_errors(formulaire.posologie) }}

		    <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(formulaire.posologie, {'attr': {'class': 'form-control'}}) }}
		    </div>
		</div>

	
	   </br>
        <span style="margin-left:30%">{{ form_widget(formulaire.Valider, {'label': 'Modifier', 'attr': {'class': 'btn btn-primary'}}) }}</span>

         <span style="margin-left:25%">{{ form_widget(formulaire.Annuler, {'label': 'Annuler', 'attr': {'class': 'btn btn-warning'}}) }}</span>

		{{ form_widget(formulaire) }}
		 {{ form_end(formulaire) }}	
		 </div>
	{%endblock%}

	{% block reste %}{% endblock %}