{% extends "GestionInventaireBundle::templateInventaire.html.twig" %}

{% block tableInventaire %}

    <div class="tableauInventaire"><table>
            <caption>Tableau Inventaire Peremption</caption>
            <thead>
                <tr>
                    <th colspan="2">Produit</th>
                    <th>Quantité</th>
                    <th>Date de Péremption</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th colspan="3">Quantité total</th>
                    <th>Quantité</th>
                    <th>Date de Péremption</th>

                </tr>
            </tfoot>
            <tbody>
            {% for tag in produits %}
                <tr>
                    <td>{{ tag.libelle}}</td>
                    <td>{{ tag.categorie }}</td>
                    <td>{{ tag.codebarre}}</td>
                    <td>{{ tag.datePeremption |date('m-d-Y')}}</td>
                    <td>{{ tag.prixunitaire}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table></div>
    <br><br>
    <a href={{"download/pdf/" ~ filename}}><button class="btn btn-info btn-lg "><span class="glyphicon glyphicon-plus"></span> télécharger rapport en PDF</button></a>
    <a href={{"download/excel/"}}><button class="btn btn-info btn-lg "><span class="glyphicon glyphicon-plus"></span> télécharger rapport en Excel</button></a>
{% endblock %}