{% extends "PharmacieStockBundle:SousCategorie:lister.html.twig" %}
{% block table %}
	<center><h4 class="panel-heading alert-danger">Modification de la sous catégorie : {{ souscategorie.libelle }} </h4></center>

	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    <hr>
    <div class="form-group">
    	{# Génération du label. #}
	    {{ form_label(form.libelle, "Libellé", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

	    {# Affichage des erreurs pour ce champ précis. #}
	    {{ form_errors(form.libelle) }}

	    <div class="col-sm-6">
	        {# Génération de l'input. #}
	        {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
	    </div>
	</div>

	<div class="form-group">
	    {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
	    {{ form_errors(form.description) }}
	    <div class="col-sm-6">
	        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
	    </div>
	</div>

	<div class="form-group">
	    {{ form_label(form.categorie, "Catégorie", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
	    {{ form_errors(form.categorie) }}
	    <div class="col-sm-6">
	        {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
	    </div>
	</div>

	{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
    <center><span>{{ form_widget(form.Valider, {'attr': {'class': 'btn btn-success'}}) }}</span>
    <span>{{ form_widget(form.Annuler, {'attr': {'class': 'btn btn-danger'}}) }}</span></center>

    {# Génération automatique des champs pas encore écrits.
        Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
        et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}

{% endblock %}

