{% extends "PharmacieStockBundle:Produit:lister.html.twig" %}
	 {% block table %}

	 <div class="">
        <center><h4 class="panel-heading alert-danger">Ajouter un nouveau article de produit pharmaceutique </h4></center>
		{{ form_start(formulaire, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(formulaire) }}
		
		<div class="form-group">
		    {# Génération du label. #}
		    {{ form_label(formulaire.libelle, "Libellé produit", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		    {# Affichage des erreurs pour ce champ précis. #}
		    {{ form_errors(formulaire.libelle) }}

		    <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(formulaire.libelle, {'attr': {'class': 'form-control'}}) }}
		    </div>
		    <div class="col-sm-2">
        		<a href="{{ path('gestion_stockage_ajouter_stock')}}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nouveau Produit</button></a>
        	</div>
		</div>

		<div class="form-group">
		    {# Génération du label. #}
		    {{ form_label(formulaire.codebarre, "Code barre", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		    {# Affichage des erreurs pour ce champ précis. #}
		    {{ form_errors(formulaire.codebarre) }}

		    <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(formulaire.codebarre, {'attr': {'class': 'form-control'}}) }}
		    </div>
		</div>
		<div class="form-group">
		    {# Génération du label. #}
		    {{ form_label(formulaire.prixunitaire, "Prix Unitaire", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		    {# Affichage des erreurs pour ce champ précis. #}
		    {{ form_errors(formulaire.prixunitaire) }}

		    <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(formulaire.prixunitaire, {'attr': {'class': 'form-control'}}) }}
		    </div>
		</div>
		<div class="form-group">
		    {# Génération du label. #}
		    {{ form_label(formulaire.dateperemption, "Date de péremption", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		    {# Affichage des erreurs pour ce champ précis. #}
		    {{ form_errors(formulaire.dateperemption) }}

		    <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(formulaire.dateperemption, {'attr': {'class': 'form-control'}}) }}
		    </div>
		</div>


        <center><span>{{ form_widget(formulaire.Valider, {'attr': {'class': 'btn btn-success'}}) }}</span>
         <span>{{ form_widget(formulaire.Annuler, {'label': 'Annuler', 'attr': {'class': 'btn btn-warning'}}) }}</span></center>

		{{ form_widget(formulaire) }}
		 {{ form_end(formulaire) }}	
		 </div>
	{%endblock%}