{% extends "PharmacieStockBundle:Produit:index.html.twig" %}
{% block main %}
    <center><h5 class="alert alert-success">Rubrique Gestion des produits pharmaceutiques : Renseignez tous les produits que vous vendez au niveau de votre pharmacie</h5></center>
    <hr class="colorgraph">

    <div class="row">
       <div class="col-md-9" >
        {% block table %}
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered ">
                <thead>
                    <th>Code barre</th>
                    <th>Libellé</th>
                    <th>Prix unitaire</th>
                    <th>Date de peremption</th>
                    <th>Fonctions</th>
                </thead>
                <tbody>
                    {% for tag in produits %}
                         <tr>
                            <td>{{ tag.codebarre }}</td>
                            <td>{{ tag.libelle }}</td>
                            <td>{{ tag.prixunitaire }}</td>
                            <td>{{ tag.dateperemption|date('d-M-Y') }}</td>
                            <td>
                             <a href="{{ path('gestion_stock_afficher_produit', {'code': tag.codebarre}) }}"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-list"></span></button></a>
                             <a href="{{ path('gestion_stock_modifier_produit', {'codebarre': tag.codebarre}) }}"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span></button></a>
                             <a href="{{ path('gestion_stock_supprimer_produit', {'codebarre': tag.codebarre}) }}" data-confirm="Vous êtes sur le point de supprimer le médicament {{tag.libelle }}. Etes-vous sûr de bien vouloir effectué cette opération ?"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></a>
                             </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock%}
        </div>
        <div class="col-md-3">
            <center><h5 class="panel-heading myheading">Actions à effectuer</h5></center>
            <hr class="colorgraph">
                <button class="btn-success btn-block sous-menu-item"><a href="{{ path('gestion_stock_ajouter_produit')}}" class=""><span class="glyphicon glyphicon-tags"></span> Ajout Produit</a></button>
                </br>
               <button type="button" class="btn-info btn-block sous-menu-item"><a href="{{ path('gestion_stock_produit_statistiques')}}"><span class="glyphicon glyphicon-stats"></span> Statistiques</a></button>
               </br>
                <button type="button" class="btn-danger btn-block sous-menu-item"><a href="{{ path('gestion_stock_lister_produit')}}"><span class="glyphicon glyphicon-list"></span> Liste des produits</a></button>
        </div>
    </div>
{% endblock%}