{% extends "PharmacieStockBundle:Produit:index.html.twig" %}
{% block main %}
    <center><h4 class="alert alert-success">Gestion des médicaments de votre pharmacie</h4></center>
    <hr class="colorgraph">
    <div class="row">
	   <div class="col-md-9" >
        {% block table %}
        <center><h4 class="panel-heading alert-danger">Listes des médicaments existants</h4></center>
            <hr class="colorgraph">
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered ">
                <thead>
                    <th>Réference</th>
                    <th>Libellé</th>
                    <th>Catégorie</th>
                    <th>Prix Unitaire</th>
                    <th>Fonctions</th>
                </thead>
                <tbody>
                    {% for tag in produits %}
                         <tr>
                            <td>{{ tag.reference }}</td>
                            <td>{{ tag.libelle}}</td>
                            <td>{{ tag.categorie }}</td>
                            <td>{{ tag.prixunitaire}}</td>
                            <td>
                             <a href="{{ path('gestion_stock_afficher_produit', {'code': tag.codebarre}) }}"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-list"></span></button></a>
                             <a href="{{ path('gestion_stock_modifier_produit', {'codebarre': tag.codebarre}) }}"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span></button></a>
                             <a href="{{ path('gestion_stock_supprimer_produit', {'codebarre': tag.codebarre}) }}" data-confirm="Vous êtes sur le point de supprimer le médicament {{tag.libelle}}. Etes-vous sûr de bien vouloir effectué cette opération ?"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></a>
                             </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock%}
        </div>
                <div class="col-md-3">
            <center><h4 class="panel-heading alert-danger">Actions à effectuer</h4></center>
            <hr class="colorgraph">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('gestion_stock_ajouter_produit')}}"><button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-list"></span> Ajout Nouveau Produit</button></a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('gestion_stock_produit_statistiques')}}"><button type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-edit"></span> Statistiques</button>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('gestion_stock_lister_produit')}}"><button type="button" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-list"></span> Liste des produits</button></a>
                </li>
            </ul>
        </div>

        </div>
{% endblock%}