{% extends "PharmacieStockBundle:Produit:lister.html.twig" %}
{% block table %}
<center><h4 class="panel-heading alert-danger">Statistiques produit</h4></center>
            <hr class="colorgraph">
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered">
                <thead>
                    <th>Libellé</th>
                    <th>Nombre total produits</th>
                    <th>Estimation coût (F CFA)</th>
                    <th>Graphe</th>
                    <th>Action</th>
                    
                </thead>
                <tbody>
                    {% for tag in produits %}
                         <tr>

                            <td>{{ tag.libelle }}</td>
                            <td>{{ tag.nb_produits }}</td>
                            <td>{{ tag.estimation_cout }}</td>
                            <td></td>
                            <td>
                                 <a href="{{ path('gestion_stock_afficher_produit', {'code': tag.codebarre}) }}"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-list"></span></button></a>
                                 <a href="{{ path('gestion_stock_modifier_produit', {'codebarre': tag.codebarre}) }}"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span></button></a>
                                 <a href="{{ path('gestion_stock_supprimer_produit', {'codebarre': tag.codebarre}) }}" data-confirm="Vous êtes sur le point de supprimer le médicament {{tag.libelle}}. Etes-vous sûr de bien vouloir effectué cette opération ?"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}